:root {
    --first-color: #dbd8e3; 
    --second-color: #5c5470; 
    --third-color: #352f44; 
    --fourth-color: #2a2438; 
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.main-container {
    background-color: var(--first-color);
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */

}

.image {
    width: 400px;
    height: 400px;
    /* background-image: url('https://images.unsplash.com/photo-1518316866466-150920780895?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80'); */
    background-position: center;
    object-fit: cover;
    /* border-radius: 50%; */
    transition: transform 0.5s;
    margin-left: 150px;
}
/* .image-container {
  height: 100vh;
   */
.teachers-button {
    width: 400px;
    background-color: var(--second-color);
    color: white;
    padding: 10px 20px;
    margin-left: 150px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    letter-spacing: .5px;
}
.teachers-button:hover {
    width: 400px;
    color: var(--second-color);
    background-color: white;
    border: 2px solid var(--second-color);
    font-weight: bold;;
    padding: 10px 20px;
    margin: 20px auto;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: .5px;
    /* transition: background-color 0.3s; */

}

.right-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    height: auto;
}

.form-row {
    margin-bottom: 10px;

}
h2 {
    color: var(--third-color);
    font-size: 24px;
    margin: 0 0 10px 0;
}

.trial-lesson-btn {
    width: 200px;
    background-color: var(--fourth-color);
    color: white;
    padding: 10px 20px;
    border: none;
    margin: 20px auto;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    letter-spacing: .5px;
}

.trial-lesson-btn:hover {
    width: 200px;
    background-color: white;
    color: var(--fourth-color);
    padding: 10px 20px;
    border: 2px solid var(--fourth-color);
    font-weight: bold;;
    margin: 20px auto;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    letter-spacing: .5px;

}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    margin: 0;
    box-sizing: border-box;
    border: 2px solid var(--second-color);
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
  }

  textarea:focus {
    background-color: var(--first-color);
  }

  .student-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;

  }

  input[type=text],  input[type=email],  input[type=tel], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid var(--second-color);
    outline: none;

  }

  .input-field {
    flex: 1;
    padding: 12px 20px;
    margin: 0 0 5px 0;
    font-size: 16px;
    border: 1px solid var(--second-color);
    border-radius: 4px;
  }

  input:focus {
    background-color: var(--first-color);
    border: 2px solid var(--second-color);
  }

  .book-now-btn {
    width: 200px;
    background-color: var(--fourth-color);
    color: white;
    padding: 10px 20px;
    border: none;
    margin: 20px auto;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    letter-spacing: .5px;
  }

  .book-now-btn:hover {
    width: 200px;
    background-color: white;
    color: var(--fourth-color);
    padding: 10px 20px;
    border: 2px solid var(--fourth-color);
    font-weight: bold;;
    margin: 20px auto;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    letter-spacing: .5px;
  }